body {
background: black;
}


div {
width: auto
height: auto;
}



#logo img {

	animation: 5s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 541px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
}

#wrath img {
    animation: 2s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 299px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 246px;
	z-index: 1:
}


#cata img {
	animation: 2s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 820px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 246px;
	z-index: 1;
}

#cata img:hover {
background-image: url('../img/soon.fw.png');
background-repeat: no-repeat;
position:absolute;
z-index: 0;
}
#wrath img:hover {
background-image: url('../img/soon.fw.png');
background-repeat:no-repeat;
position:absolute;
z-index: 0;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}