body {
	background: black;
}


div {
	width: auto
	height: auto;
}

#beta img {
	left: -296px;
    position: fixed;
    top: -164px;
}



#logo img {

	animation: 6s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 541px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
}

#wrath img {
    animation: 3s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 299px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 246px;
	z-index: 10:
}


#cata img {
	animation: 3s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 820px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 246px;
	z-index: 10;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}