html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


body {
  background: black;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

#title h1 {
  color: #FFFFFF;
    font-size: 50px;
    left: 548px;
    position: absolute;
    text-align: center;
    top: 65px;
}
}


#icecrowncc div{
    left: 20px;
    position: absolute;
    top: 496px;
}

#frame {
	top: -42px;
	left: 0px;
	position: fixed;
	width: auto;
}


/*tooltip WIP*/

a.tooltip {
outline:none; 
} 
a.tooltip strong {
line-height:30px;
} 
a.tooltip:hover {
text-decoration:none;
}
a.tooltip span {
 display: none;
    left: 680px;
    line-height: 16px;
    margin-left: auto;
    margin-top: auto;
    padding: 14px 20px;
    position: absolute;
    top: 499px;
    width: auto;
    z-index: 10;
} 
a.tooltip:hover span{ 
display:inline; 
position:absolute; 
border:2px solid #FFF; 
color:#EEE; 
background:#000 url(src/css-tooltip-gradient-bg.png) repeat-x 0 0; 
} 
.callout {
z-index:20;
    left: 559px;
    position: absolute;
    top: 289px;
} 

a.tooltip span { 
border-radius:2px;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 -moz-box-shadow: 0px 0px 8px 4px #666;
 -webkit-box-shadow: 0px 0px 8px 4px #666;
box-shadow: 0px 0px 8px 4px #666; 
opacity: 0.8; }

/*bosses*/
/*lower spire*/
#marrow {
    left: 559px;
    position: absolute;
    top: 289px;
}
#lady {
    left: 430px;
    position: absolute;
    top: 432px;
}
#gunship {
    left: 640px;
    position: absolute;
    top: 509px;
}
#dbs {
    left: 845px;
    position: absolute;
    top: 458px;
}
