body, div, nav, img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.boxes {
display: none;
}

body { 
background: url(../img/wrathback.jpg) no-repeat;	
font-family: 'Open Sans', sans-serif;
color:#B9B9C8;
}

button {
background: transparent;
border: 0;
color: white;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
a
{
	text-decoration:none;
	color:inherit;
	transition: color .5s ease;
	
}

* {margin: 0; padding: 0;}

canvas {
	display: block;
}

div {
	width: auto;
	height: auto;
}

#about {
left: 20px;
position: absolute;
top: 385px;
font-family: 'Open Sans', sans-serif;
color:#0059B2;
animation: 7s ease 0s normal none 1 fadein;
animation: 15s ease 4s normal none 1 fadeout;
}

nav {
    bottom: 376px;
    position: absolute;
    right: 510px;
}

nav ul {
    list-style: none outside none;
}
nav ul li {
    display: block;
    float: left;
    padding: 3px 15px;
}
nav ul li a {
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
	text-height: strong;
    transition: all 0.25s ease 0s;
}
nav ul li a:hover {
    color: #0059B2;
}
#beta img {
	left: -296px;
    position: fixed;
    top: -164px;
	
}

#logo img {

	animation: 6s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 541px;
    margin-top: -649px;
    position: absolute;
    text-align: center;
}

#wrath img {
    animation: 3s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 299px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 246px;
	z-index: 10:
}


#cata img {
	animation: 3s ease 0s normal none 1 fadein;
    font-size: 21px;
    left: 820px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 246px;
	z-index: 10;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadeout { 
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}